.header-burger {
    /* display: flex; */
    cursor: pointer;
    background-color: var(--tg-theme-text-color);
    width: 25px;
    height: 2px;
    position: relative;
}


.header-burger::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: -5px;
    left: 0;
    background-color: var(--tg-theme-text-color);
}

.header-burger::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 5px;
    left: 0;
    background-color: var(--tg-theme-text-color);
}




.burger {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0px, 100%);
    transition: 0.5s;
    pointer-events: none;
    opacity: 0;
}


.burger-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tg-theme-bg-color);
    text-transform: uppercase;
}



.burger-close {
    position: fixed;
    top: 36px;
    right: 20px;
    cursor: pointer;
    width: 25px;
    height: 25px;
}


.burger-close::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 0px;
    left: 0;
    background-color: var(--tg-theme-text-color);
    rotate: 45deg;
}

.burger-close::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    top: 0px;
    left: 0;
    background-color: var(--tg-theme-text-color);
    rotate: -45deg;
}


.burger-list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    list-style-type: none;
    font-size: 16px;
}


.burger-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tg-theme-text-color);
}

.burger-middle {
    border-bottom: 1px solid var(--tg-theme-text-color);;
    padding-bottom: 11px;
}


.burger-top {
    text-transform: none;
}



.burger-phone {
    border-top: 1px solid var(--tg-theme-text-color);;
    padding-top: 11px;
}

.burger-phone a {
    display: flex;
    align-items: center;
}


.burger.active {
    transform: translate(0px, 0%);
    transition: 0.5s;
    pointer-events: all;
    opacity: 100;
}


.burger.active body {
    overflow: hidden;
}



