.catalog-title {
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.products-blocks {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.products .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.products-block {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    max-width: 370px;
    background-color: var(--tg-theme-bg-color);
    position: relative;
}



.products-block-text {
    padding: 15px 22px;
}

.products-block-title {
    padding-bottom: 15px;
    font-size: 18px;
}

.products-block span {
    max-width: 320px;
    color: #292929;
    font-size: 14px;
    height: 50px;
    display: inline-block;
    overflow-y: scroll;
}

.products-block-price {
    color: #E7426A;
    font-size: 18px;
}

.products-block-cart {
    display: flex;
    align-items: center;
    gap: 10px;
    border: none;
    background-color: #F7EBE5;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}


.products-block-cart {
    color: black;
}

.products-block-cart:active {
    transform: scale(0.5);
    transition: 0.3;
}

.products-block-cart:focus {
    outline: none; 
}




.products-block.active .products-block-cart {
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: hidden;
    transform: translate(0px, -20px);
}


.block-counter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;              
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: translate(0px, 20px);     
    transition: 0.3s;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
}


.products-block.active .block-counter {
    visibility: visible;
    pointer-events: all;
    opacity: 100;
    transform: translate(0px, -33px);     
    transition: 0.3s;
}


.counter {
    width: 35px;
    height: 30px;
    background-color: inherit;
    border: none;
    font-size: 20px;
    color: var(--tg-theme-text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.counter:active {
    transform: scale(0.5); 
    transition: 0.3;
}

.counter:focus {
    outline: none; 
}



.block-minuscart {
    background-color: #FF0000;
}


.block-addcart {
    background-color: #F7EBE5;
}



.block-quantity {
    position: absolute;
    right: -8px;
    top: -10px;
    background-color: #F7EBE5;
    padding: 15px 15px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;
}


.block-quantity p {
    position: absolute;
    transform: translate(-50%, -50%);
    color: black;
}

.products-block.active .block-quantity {
    visibility: visible;
    opacity: 100;
    transition: 0.3;
}