.contacts .container {

}


.contacts-up {
    display: flex;
    gap: 200px;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.contacts-title {
    font-size: 42px;
    padding-bottom: 30px;
}


.contacts-text {
    font-size: 18px;
    padding-bottom: 15px;
}


.contacts-subtext {
    font-size: 18px;
    padding-bottom: 30px;
    display: flex;
}


.contacts a {
    font-size: 18px;
}


.map {
    height: 400px;
}