* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}


header {
    width: 100%;
}


main {
    width: 100%;
    background-color: var(--tg-theme-bg-color);
}


footer {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}


a {
    list-style-type: none;
    color: inherit;
    text-decoration: none;
    font-family: "ProximaNova";
    font-weight: 400;
    line-height: 100%;
    color: var(--tg-theme-text-color);
}


span {
    font-family: "ProximaNova";
    font-weight: 400;
    line-height: 100%;
    color: var(--tg-theme-text-color);
}

p {
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--tg-theme-text-color);
}


h1, h2, h3, h4, h5 {
    font-family: "Montserrat";
    font-weight: 600;
    color: var(--tg-theme-text-color);
}


section .container:first-child {
    padding-top: 30px;
}

section .container {
    padding-bottom: 30px;
}




.section-title {
    font-size: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: var(--tg-theme-text-color);
}